[2021-06-24 14:49] andreaaraldo opened #1 "Creation of the collection video"
The code that is supposed to create the collection `video` into the mongo DB is commented
(see [this line](https://github.com/mora-resource-allocation-edge-cloud/videomanagement/blob/a1934318e5c1e125cb7751bad836dd969a8c873b/src/main/java/com/arenalocastro/videomanagement/ApplicationConfiguration.java#L92))

Why?

Does it mean that such a collection is created somewhere else? Where?

Moreover, we s

[2021-06-25 06:53] aleskandro commented on #1
Hi Andrea, that code should not be needed in the cloud variant. That was needed in the Edge variant (see the if statement at line 88). In particular, the edge variant need a capped collection and, by now, this capped collection is created outside the code of the VMS during the deployment.

However, the creation of the capped collection during the deployment has to be reviewed after the implementat

[2021-06-25 07:04] aleskandro opened #2 "Verify/Fix creation of the capped collection in the Edge Variant"
In the helm template, the creation of the capped collection must be achieved by a one-shot job at the deployment stage.

In particular, the job has to use Mongo credentials available in the secrets and configmaps already used by the VMS and the MongoDB deployments.

The job will create the capped collection using a 1-line shell script.

## Implementation hints

Use the [mongoclient/mongoclient](ht

[2021-07-01 14:40] andreaaraldo commented on #1
Thanks

[2021-07-01 14:40] #1 closed, assigned to nobody

[2021-07-01 15:28] zazim13 commented on #2
Hi @aleskandro . The video collection was not created automatically in the edge because the edge was not able to download any video from the cloud. In fact the java application (In the edge) was not able to resolve cloud-vms-1.master.particles.dieei.unict.i to an ip address. I solved the problem by adding the configuration HostAliases in the vms config file. (It will add entries to pod /etc/hosts

[2021-07-01 15:36] andreaaraldo opened #3 "Information to add in the doc"
Add in the docs:
- How to watch a video

[2021-07-01 15:46] andreaaraldo opened #4 "Clarification needed about variants"
The documentation talks about three variants (see [this section](https://github.com/mora-resource-allocation-edge-cloud/mora/blob/minikubebranch/README.md#variants-and-options)).

However, the code shows completely different variants (see [these lines](https://github.com/mora-resource-allocation-edge-cloud/videomanagement/blob/6498f6ceab319820063c0dafb0b5dc5d6a80b080/src/main/java/com/arenalocastr

[2021-07-01 16:13] andreaaraldo opened #5 "Clarification about isOpenShift"
From [this line](https://github.com/mora-resource-allocation-edge-cloud/mora/blob/minikubebranch/README.md#isopenshift) below, it seems that OpenShift is an alternative to Kubernates. Instead, it seems that OpenShift does use Kubernates (see [wikipedia page](https://en.wikipedia.org/wiki/OpenShift)). So, it is not clear when we should put isOpenShift true or false.
Could you please clarify directl

[2021-07-02 07:10] aleskandro commented on #5
Hi Andrea, yes, OpenShift is based on Kubernetes. the isOpenShift flag is used to tell helm to deploy or not objects specific to OpenShift (routes, etc...)

[2021-07-02 07:10] #5 closed, assigned to aleskandro

[2021-07-02 07:17] aleskandro commented on #4
Just writing here for the moment: I'll update soon the docs.

- Cloud Variant: trivially, the Cloud version of the application (whole set of microservices will be deployed and VMS will consider them available in its local network). This variant is managed by the `isCloud` environment variable

if isCloud is false:
- Cache variant (0): just download the whole encoded representations from the Cloud

[2021-07-02 07:31] aleskandro commented on #2
Hi @zazim13, we cannot use static ips in that line. Please, remove it.

Actually, from a network perspective:

- `cloud-vms-1.master.particles.dieei.unict.it` has to be changed into cloudmora.eu which is registered, has globally available nameservers related to it and a well-defined dns zone that get us able to reach videos in the "cloud variant". So, we can just modify the default `values.yaml` f

[2021-07-02 07:46] aleskandro commented on #2
a new file, like the following one (to be fixed/verified, maybe the command definition could be bugged) should work:

[code]

- the name also has a timestamp as a workaround since jobs in kubernetes are immutable and an upgrade command could fail (better solutions are welcome).
- the command could not work correctly just because of the array definition.
- there is a MONGODB_ADMIN_PASSWORD defined

[2021-07-06 18:25] zazim13 commented on #2
(After the 8th of July meeting, I understood that there are a cloud server at Catania accessible at `cloudmora.eu`. But here I am deploying the edge and cloud clusters in different virtual machine in the same network.)

Hi @aleskandro. To be more precise about the problem of "reachability". [This ip address  ](https://github.com/mora-resource-allocation-edge-cloud/deployment/blob/fa93ab2076c9b9a9c

[2021-07-12 07:31] aleskandro commented on #2
Hi @zazim13, as anticipated in the meeting, I was suggesting to replace the URL (cloud-vms.1.master.particles.dieei.unict.it) with the public available one: cloudmora[dot]eu.

The original one is the domain name that can be resolved only within the University of Catania cluster through an internal DNS server.
Instead, cloudmora.eu, is registered through public DNS Nameservers. I can also provide

[2021-07-12 07:32] aleskandro commented on #2
I'm going to move my last comment to another issue. The topic of this one is not about domain names, dns and so on...

[2021-07-12 07:34] aleskandro opened #6 "DNS resolution and Clients/Edge deployment resolving the Cloud Variant hostname"
Hi @zazim13, as anticipated in the meeting, I was suggesting to replace the URL (cloud-vms.1.master.particles.dieei.unict.it) with the public available one: cloudmora[dot]eu.

The original one is the domain name that can be resolved only within the University of Catania cluster through an internal DNS server.
Instead, cloudmora.eu, is registered through public DNS Nameservers. I can also provide

[2021-07-13 06:59] aleskandro opened #7 "Metrics collector documentation"
The metrics collector consists of a docker-compose project that runs (i) the collector APIs, (ii) a MongoDB instance.

The collector currently provides one only API, doc is available through comments in the code and swagger. I report here the comment above the main controller method:

[code]

This represents the POST request to /video-reproduction that has to be called by the video player (our das

[2021-07-13 07:00] aleskandro opened #8 "Deployment of metrics-collector and dash.js in a public available domain"
In order to ease the usage of the load generator, deployment of metrics-collector and the dash.js fork can be done through a public available domain and server IP. I'm going to handle this issue.

[2021-07-13 07:08] aleskandro opened #9 "Add support for defining resources limits and requests and replicas number on the helm template"
For each deployment object we need to add support for defining limits and requests in the values.yml file of the helm template.

In particular, the resources will depend on the specific variant-option pair, i.e., we shall configure requests and limits for containers [1] based on the settings of the variant and of its specific option.

## List of the deployments objects

- VMS
- VPS
- MongoDB
- API

[2021-07-13 07:34] aleskandro opened #10 "Load Generator: informations"
The Load Generator enable the use of a headless chromium driver to perform concurrent reproductions of the videos.

It can be exectured standalone by building and running the executable in a Golang configured environment. Or, reccomended way, it can be executed within a container as defined by the Dockerfile available in the load-generator repository.

Configuration values for the load-generator c

[2021-07-13 07:34] aleskandro commented on #10
cc @andreaaraldo @Maya-kassis  @zazim13

[2021-07-13 07:39] aleskandro opened #11 "Load generator: verify reachability of clients through the chrome remote debugger"
1. Execute the load generator
2. Configure your chrome browser to discover remote targets on ports in the range [9222, 9222 + $MAX_EXPOSED_PORTS], where $MAX_EXPOSED_PORTS is the env variable described in #10. At row [https://github.com/mora-resource-allocation-edge-cloud/load-generator/blob/5d1cadc7b97c2868f521c1995a1144d5044d4ad6/main.go#L47](47 of the main.go), change the hard-coded 128 to the

[2021-07-13 07:42] aleskandro opened #12 "Load generator: fix/verify auto-play"
When the load generator spawns a thread, this thread should execute headless chromium at the given URL (the dash.js fork).

# Expected behavior

1. The headless chromium thread "visits" the page
2. The page is set to an existent video and to post metrics to the right url (parameters in the URI)
3. The video must start to reproduce automatically

# Current behavior (to be verified)

1. The headless

[2021-07-13 07:43] aleskandro commented on #10
This information should be added to the load-generator readme

[2021-07-13 07:45] aleskandro opened #13 "Merge the helm template on deployment minikube branch and fix compatiblity between prod-grade k8s, openshift and minikube"

[2021-07-13 07:54] aleskandro opened #14 "Fix conditional creation of Kafka Beans on VMS"
In the VMS, we had to comment out annotation of KafkaConsumerConfig.java and KafkaTopicConfig.java in order to deploy the Cloud Variant and correctly handle connection to the Kafka container.

[code]

However, we need to not instantiate those beans in some of the Edge variants (e.g., the Cache variant).

We need to remove those comments and fix.

# Current behavior (to be verified)

Kafka beans ar

[2021-07-14 08:51] aleskandro commented on #6
@zazim13 shall we close this issue?

[2021-07-14 08:57] zazim13 commented on #6
@aleskandro There is only documentation left. Should I close it now ?

[2021-07-14 10:25] aleskandro commented on #6
Ok, you can proceed to close it after documentation will be available.

[2021-07-14 13:21] zazim13 commented on #11
Hi @aleskandro. I just change the value of MaxExposedPorts to 128 and the loop condition also. It is working as before .
But I am not sure about what I should see in the debugger. I can see urls where the video is available.

[2021-07-14 14:39] zazim13 commented on #12
Hi @aleskandro for some reason, this behavior is due to chrome itself (I don't know why but I can play a video from Firefox and auto play is working )
There is a flag  (autoplay-policy) that should allow video reproducing without having to press play. And this flag is already added [you can see it here in the code](https://github.com/mora-resource-allocation-edge-cloud/load-generator/blob/5d1cadc7

[2021-07-15 13:22] #9 closed, assigned to zazim13

[2021-07-15 13:43] #11 closed, assigned to zazim13

[2021-07-15 13:50] zazim13 opened #15 "Data visualization from collected metrics"
Understand and render metrics collected by the load generator
[This code may help](https://github.com/mora-resource-allocation-edge-cloud/dash.js/blob/f0de547348c024f96917afbc77a9d6f12a64c704/samples/dash-if-reference-player-api-metrics-push/app/main.js#L412)

[2021-07-15 14:10] zazim13 commented on #2
In the case of multiple mongodb replicas. The Job is creating a capped video collection only in one pod.
1. Other mongodb pods don't have this video collection.
2. If new replicas of mongodb are added they don't have this collection either.

[2021-07-15 14:28] aleskandro commented on #2
No multiple replicas of mongodb were considered till now. In order to allow them we have to look at scalability issues of mongodb.

Sharding is not so needed for an edge service that uses a capped collection for low sizes. Finally, we should also convert the current Deployment of MongoDB into a statefulset in order to better handle, maybe, issues like master elections, consensus on shards and simi

[2021-07-19 20:36] #6 closed, assigned to zazim13

[2021-07-23 06:56] aleskandro opened #16 "A part of the wiki documentation has to be rollbacked into the readme.md"
We have to restore some part of the readme.md: as in any open source project, the readme is the first point of access for anyone who wants to understand what the project provides.

So, information about what it is, how to build, how to deploy and how to contribute have to be filled in the readme.md. Linking directly to the wiki is not a best practice.

In particular, a good readme, IMHO, is so tha

[2021-07-23 09:14] zazim13 commented on #7
Hi @aleskandro .
I wonder if you consider the dash client as a part of the metrics collector.

[2021-07-23 09:22] zazim13 commented on #2
Hi @aleskandro
So you suggest to just close this issue or to also open a new one about sharding (My question is will it be needed in our case)?

[2021-07-23 09:45] aleskandro commented on #2
No, it is not needed currently

[2021-07-23 09:59] #2 closed, assigned to zazim13

[2021-07-26 09:23] Maya-kassis opened #17 "Persistent Volume Claim unbounded"
Hello,

I am trying to run the cloud with helm without minikube using the minikube branch by running the following command:

helm install vp-cloud -f variants/values.cloud.yaml --generate-name --disable-openapi-validation

The following 3 pods are in pending state; the description is "3 pod has unbound immediate PersistentVolumeClaims"
1. videoserver-gateway
2. videoserver-videomanagement
3. video

[2021-07-26 13:53] Maya-kassis opened #18 "Configure the dns in cloud scenario"
About the DNS problem. As already discussed in the related issue on Github, solution is not to use a static mapping of the IP-Address pairing (within the deployment files) but to provide the right hostname in the values.yaml file that you are using as "custom settings " for your deployment. It has to be cloudmora.eu if you are deploying the edge version. Moreover, on Postman you have to provide a

[2021-07-26 13:54] Maya-kassis commented on #18
Let’s consider the cloud scenario only for this issue.

As I understand, no need to explicitly define the internal names cloud-vms-1.master.particles.dieei.unict.it  &  edge-vp-1.master.particles.dieei.unict.it

I only need to change the cloudURL in values.yaml to be for example: videoService.AIDY (on machine 1)
On the client side, I have to modify the etc/hosts to be
(IP of the machine 1)  videoS

[2021-07-26 14:58] aleskandro commented on #17
Yes, as some Deployment uses volumes, we need to have some solution for storage.

Can I ask for the installation process of your kubernetes flavour? In order to support, I'd have the best possible description of its deployment scenario/configuration.

[2021-07-26 15:01] aleskandro commented on #17
Please Maya, can you provide me the result of:

`kubectl describe pv foo-pv`
`kubectl describe pvc mongodb-data`

Also use the triple "```" to enclose code/commands result , so that it can result more readable here.

[2021-07-26 15:03] aleskandro commented on #17
And also, can you provide more detail about the installation process and architecture of your kube5g?

[2021-07-26 15:06] aleskandro commented on #17
@zazim13
https://github.com/mora-resource-allocation-edge-cloud/deployment/blob/85753f4f4c1b68efc169527bdffdb967034391e9/vp-cloud/templates/07-pv.yaml

This file create a few persistent volumes on the cluster you are deploying.

- [ ] However, HostPath persistent volumes are only for minikube. So, an if to check `.Values.isMinikube` should be added to enclose the entire file.

[2021-07-26 15:14] aleskandro commented on #18
the CloudURL has to be `cloudmora.eu` to use our service at university of catania.

The ingress has to run in Kubernetes.

For minikube, you have to enable it; In the openshift at university of catania, we have "similar" objects for the "cloud version".

The edge version that will run in Kube5G has to run an Ingress Controller/Plugin.

As an example, kubespray documentation has some info on deploy

[2021-07-26 15:25] Maya-kassis commented on #17
[code]
---------------------------------------------------------------------
[code]

[2021-07-26 15:34] Maya-kassis commented on #17
On the cluster, after apply CRD to k8s cluster
I deploy the following yaml file
https://gitlab.eurecom.fr/mosaic5g/kube5g/-/blob/workshop-dec-2020/openshift/kube5g-operator/deploy/crds/cr-v2/lte-with-flexran/mosaic5g_v1alpha1_cr_v2_lte_flexran.yaml

This create one pod for each of the following components, in addition to the kube5g-operator
1. RAN
2. FlexRAN
3. HSS
4. MME
5. Cassandra DB
6. SPGWU

[2021-07-26 16:42] aleskandro commented on #17
We made a call with @Maya-kassis . She will deploy a storage class and the provisioner based on nfs.

- [X] @zazim13 you should set a new key in the values.yaml

I'd say `storageClass`.

- [X] Use it in the [pvcs template](https://github.com/mora-resource-allocation-edge-cloud/deployment/blob/85753f4f4c1b68efc169527bdffdb967034391e9/vp-cloud/templates/06-pvc.yaml).

- [X]  Fix the mongodb volume t

[2021-07-26 16:44] aleskandro commented on #18
The dns is now configured "publicly".

cloudmora.eu is the cloud variant running at the university of catania.

edge.cloudmora.eu is bound to the IP @Maya-kassis  provided me. In this way, we should not have anymore need to figure out dns configuration stuff. Any client/pod which has access to the internet will be able to solve both the names.

[2021-07-26 16:44] #18 closed, assigned to nobody

[2021-07-26 16:45] aleskandro opened #19 "Deploy nginx ingress controller into kube5g cluster"
Just a task as follow-up from the call

[2021-07-27 09:40] andreaaraldo opened #20 "Postman"
Please change the documentation in order to only use postman (specifying that also GetIt exists, but Postman is better because it gives more info)

[2021-07-27 10:27] andreaaraldo commented on #4
I suggest we say there are 4 variants:
- In the cloud one MUST deploy the cloud variant
- In the edge, one can deploy one variant among {Cache Variant, Offline Variant, Online Variant}

I think like this it would be clear.

If you agree, could you please update the doc accordingly?

[2021-07-27 12:52] andreaaraldo opened #21 "Redirection toward the Cloud occurs too soon"
@zazim13  noticed that, even when number of concurrent users is set to a very high number (i.e. 10) and that the number of concurrent video downloads is way less than such a number, the requests are however redirected toward the cloud.

If one looks at [this line](https://github.com/mora-resource-allocation-edge-cloud/deployment/blob/85753f4f4c1b68efc169527bdffdb967034391e9/vp-cloud/templates/00-l

[2021-07-28 10:20] Cicero1996 opened #22 "Fix documentation: Building without Minikube"
<img width="972" alt="Schermata 2021-07-28 alle 12 15 28" src="https://user-images.githubusercontent.com/58262137/127305985-f2aa6eb8-ebf9-4765-b7ba-5af16185e416.png">

**NOT** cd helm/docker/gateway **but:**
cd ..
cd /deployment/docker/gateway
docker build -t aleskandro/video-server:cloud-gateway -f Dockerfile .
cd ..
cd load-balancer
docker build -t aleskandro/video-server:edge-lb -f Dockerfile .

[2021-07-28 14:55] aleskandro commented on #22
Thank you @Cicero1996, fixed. Going to give you contributor permissions

[2021-07-28 14:55] #22 closed, assigned to nobody

[2021-07-30 15:57] aleskandro opened #23 "Fix the ffmpeg script to handle resource limits"
Ffmpeg script can be killed by the OOMKiller if more resources than the one specified in the limits are used. We need to find a way to handle the problem, especially for the offline/online encoding variants of the Edge scenario.

[2021-07-30 15:58] aleskandro commented on #23
Moreover, the vps python daemon sends the 'processed message' also when the ffmpeg process does not quit correctly

[2021-07-30 16:24] aleskandro opened #24 "Make a docker-compose project for dash.js + metrics collection + load generator"

[2021-07-30 16:25] aleskandro opened #25 "Load generator crashes with high number of average requests per second"
Probably due to the browser not being killed at the end of a reproduction?

[2021-07-30 16:35] aleskandro opened #26 "Eliminate isCloud from helm template and make variantType handling the Cloud variant too"

[2021-08-06 13:29] Maya-kassis commented on #17
I tried to create ingress service, ingress controller and I add the created NFS storage class to the PV and PVC yaml  files as  storageClassName: "nfs-client"

Now I see all the pods are running; but the pod  videoserver-videomanagement is running as 0/1, in the description
Readiness probe failed: Get http://10.244.6.28:8080/ping: net/http: request canceled (Client.Timeout exceeded while awaiting

[2021-08-06 13:37] aleskandro commented on #17
Hi @Maya-kassis, if I understood the volumes claims are now bound. If not, problem still there.

If yes, can you please provide the output of `kubectl logs $NAME_OF_THE_NON_RUNNING_POD`?

[2021-08-06 14:29] Maya-kassis commented on #17
yes all claims are bound now,
kubectl logs  videoserver-videomanagement

2021-08-06 14:26:45.655  INFO 7 --- [           main] c.a.v.VideomanagementApplication         : Starting VideomanagementApplication v0.0.1-SNAPSHOT on videoserver-videomanagement-79b9ddd7c9-78cdd with PID 7 (/app/service.jar started by root in /app)
2021-08-06 14:26:45.658  INFO 7 --- [           main] c.a.v.VideomanagementA

[2021-08-07 15:47] aleskandro commented on #17
ok. If the log is only this, you can try increasing the initialDelay for the readiness probe of VMS. How much resources do you have?

Also try increasing the amount of resources allocated to the VMS.

If you see the result of `kubectl describe pod vms.....` and you find the pod is killed by OOM killer, allocated resources for the pod are not enough. The log you sent doesn't have any error, so it c

[2021-08-08 11:16] #13 closed, assigned to aleskandro

[2021-08-08 11:16] #17 closed, assigned to nobody

[2021-08-08 11:17] aleskandro commented on #17
Hi @Maya-kassis closing this issue since what we're talking now is not related to its topic and I committed right now the fixes needed here.

Please, open another issue when you're back to the running issue

[2021-08-08 11:59] aleskandro commented on #25
@Cicero1996 ignore this issue for the moment, we'll get detail "on the road".

[2021-08-08 16:15] Cicero1996 opened #27 "Fix file 04-mongodb.yaml on path vp-cloud/templates/"
There is an error in the file vp-cloud/templates/04-mongodb.yaml
<img width="447" alt="Schermata 2021-08-08 alle 18 13 22" src="https://user-images.githubusercontent.com/58262137/128638431-edcb591c-f6e4-4cab-9cef-b6fcc85b99f8.png">

It is not possible to deploy the application:
<img width="1572" alt="Schermata 2021-08-08 alle 18 12 31" src="https://user-images.githubusercontent.com/58262137/128638

[2021-08-08 17:07] #4 closed, assigned to aleskandro

[2021-08-08 17:07] #16 closed, assigned to nobody

[2021-08-08 17:10] Cicero1996 commented on #27
if eq .Values.isOpenShift true without ""

[2021-08-08 17:10] aleskandro commented on #27
Hi @Cicero1996, checkout the latest version of the application.
There are new examples at deployment/variants/examples.

Please, feel free to fix your self this kind of bugs.

isOpenShift is currently a string. Somewhere it has been used as bool. A todo in the main values.yaml is already set to assess in the future the "conversion" to boolean

[2021-08-08 17:11] aleskandro commented on #27
For the moment, please, keep it as a string.

[2021-08-08 17:12] aleskandro commented on #27
[code]

[2021-08-08 17:15] aleskandro commented on #27
@Cicero1996 When you start edits in a repository, use a separate branch and make us know that it is there by opening a pull request

[2021-08-08 17:36] #8 closed, assigned to aleskandro

[2021-08-08 17:39] aleskandro commented on #24
It  was already available: https://github.com/mora-resource-allocation-edge-cloud/metrics-collector/blob/development/docker-compose.prod.yml

[2021-08-08 17:39] #24 closed, assigned to nobody

[2021-08-08 17:40] aleskandro commented on #27
Closing this since it's already fixed in the deveolpment branch.

https://github.com/mora-resource-allocation-edge-cloud/deployment/blob/development/variants/values.cache-variant.yaml

deployment/variants/values.cache-variant.yaml
[code]

[2021-08-08 17:40] #27 closed, assigned to nobody

[2021-08-08 17:41] aleskandro commented on #19
Hi @Maya-kassis if I remember you already done this. Please can you close if i'm right?

[2021-08-08 17:42] aleskandro commented on #7
Essentially yes, a docker-compose project was already available for deployment of the three components:

https://github.com/mora-resource-allocation-edge-cloud/metrics-collector/blob/development/docker-compose.prod.yml

[2021-08-08 18:34] Cicero1996 opened #28 "Fix name variable isOpenShift on path deployment/variants/examples"
Go to file deployment/variants/examples/values.minikube-cloud.yaml
<img width="323" alt="Schermata 2021-08-08 alle 20 33 01" src="https://user-images.githubusercontent.com/58262137/128642163-7f050341-c738-4f5d-80f7-f340dca7c149.png">

Fix name variable from "isOpenshift" to "isOpenShift".

[2021-08-09 05:46] #28 closed, assigned to Cicero1996

[2021-08-19 14:52] Cicero1996 opened #29 "Error during the exe the deploy of the application with Helm"
During the exe of the command helm:
<img width="1176" alt="Schermata 2021-08-18 alle 16 49 44" src="https://user-images.githubusercontent.com/58262137/130088087-00bfae7a-6f1c-40d3-9fa8-cfea9777e603.png">

We need to add the graph of the values.yaml file a new key:

Insert into values.yaml:
<img width="190" alt="Schermata 2021-08-19 alle 16 39 57" src="https://user-images.githubusercontent.com/5826

[2021-08-20 05:11] aleskandro commented on #29
Hi @Cicero1996 are you sure you are using the last updated version of the deployment repository? Branch development.

All these issues should already be fixed in the head of development branch.

[code]

[2021-08-23 22:43] Cicero1996 commented on #29
Hey Alessandro,, ho risolto il problema della pull del progetto. Tuttavia,

Eseguendo il comando: $ helm install vp-cloud -f variants/examples/values.minikube-cloud.yaml --generate-name --disable-openapi-validation

W0823 23:25:36.552529 2997292 warnings.go:70] networking.k8s.io/v1beta1 Ingress is deprecated in v1.19+, unavailable in v1.22+; use networking.k8s.io/v1 Ingress
Error: Deployment.apps

[2021-08-23 23:08] Cicero1996 commented on #29
EXE this command: $ helm install vp-cloud -f variants/examples/values.minikube-cloud.yaml --generate-name --disable-openapi-validation

Error: Deployment.apps "mongodb" is invalid: [spec.template.spec.volumes[0].persistentVolumeClaim: Forbidden: may not specify more than 1 volume type, spec.template.spec.containers[0].volumeMounts[0].name: Not found: "data”]

I'm not deploying the project correctl

[2021-08-25 10:31] aleskandro commented on #29
Hi @Cicero1996, can you try now?

[2021-08-25 15:52] #29 closed, assigned to nobody

[2021-10-29 12:52] andreaaraldo opened #30 "Parameters to set cache size in the edge"
In the configuration file `deployment/values.cache-variant.yaml`, we have `maxVideo` that seems to have the same meaning of `videoCollectionMaxDocs`. Could you please eliminate one of them, if they actually mean the same thing, or add a clarification in the code, related to the parameters `videoCollectionMaxDocs`, `videoCollectionSize` (specify what is the unity of measurement)

[2021-10-29 13:23] andreaaraldo opened #31 "Total number of videos N for the load generator"
Suppose the load generator wants to generate requests passing through the edge.
Based on [this page](https://github.com/mora-resource-allocation-edge-cloud/mora/wiki/3.Metrics-collector-and-load-generator#load-generator), we would set `ServiceUrl=<domain_name_of_edge_node>`.

The first thing that the load generator has to know is the number N of total videos in the system. Knowing this information

[2021-11-09 11:00] andreaaraldo opened #32 "Add error message when request is incorrect"
It may happen that the client generates an HTTP requests containing into the HTTP field `Host` an incorrect name, i.e., a different name than the one of the `Ingress`.
(The correct name of the ingress is defined in file `deployment/variant/values.cloud.yaml` and that can be verified by launching the command `kubectl get ingress` from the shell of the VM hosting the cluster)

In this case of incorr

[2021-11-26 10:23] andreaaraldo commented on #32
Maybe we could use Custom backends?

https://kubernetes.github.io/ingress-nginx/user-guide/custom-errors/

[2021-11-26 10:25] andreaaraldo commented on #31
@zazim13  solved it: when the load generator begins, it connects to the cloud and get all the video metadata, so that it can now how many videos are in the catalog.

@zazim13 , please after you commit, add here the link to the line within the load generator that requests such metadata and close the issue

[2021-11-26 10:29] andreaaraldo commented on #20
@zazim13  says Postman is more complicated. It's good good for debug, but in order to make simple actions, it requires more things to click. So it is not good to base all the documentation on it.

[2021-11-26 10:29] #20 closed, assigned to zazim13

[2021-12-10 14:16] andreaaraldo opened #33 "Increasing the number of allowed threads for the load generator"
We need to find a way to permanently increase the number of threads allowed by the operating system where the load generator runs (see [this page](https://github.com/mora-resource-allocation-edge-cloud/mora/wiki/3.Metrics-collector-and-load-generator#considerations) )

[2021-12-17 14:38] andreaaraldo commented on #33
@zazim13 , since finding a permanent way of increasing threads is difficult, you can just add to the documentation in [this page](https://github.com/mora-resource-allocation-edge-cloud/mora/wiki/3.Metrics-collector-and-load-generator#considerations) the instructions on how to change the number of threads temporarily.
THe fact that at every reboot of the machine (or virtual machine) where the load

[2021-12-17 14:51] andreaaraldo commented on #12
@zazim13 , Please check if from the QoE metrics you see that some chunks are actually downloaded (no null resolution).

[2021-12-17 14:59] andreaaraldo commented on #15
@zazim13 , please write in the document of metrics collector what is, among the metrics, videoTime and time. If you do not understand, please ask @aleskandro.

I am a bit concerned by the fact that the metrics, for the first 5 seconds, show a certain videoTime>0 and for the second 5 seconds is videoTime=0.

Please verify with longer videos

[2021-12-20 08:54] aleskandro commented on #33
Hello, how are you increasing the number of max threads on the machine?

This could be a way to set it permanently:

[code]

[2021-12-30 21:56] zazim13 opened #34 "bitnami/mongodb environment variable"
Mongodb is not running with this error
  `The MONGODB_ROOT_PASSWORD environment variable is empty or not set. Set the environment variable ALLOW_EMPTY_PASSWORD=yes to allow the container to be started with a blank root password. This is only recommended for development.`
The environment value MONGODB_ROOT_PASSWORD is required by bitnami/mongodb. But the variable MONGODB_ADMIN_PASSWORD is set [as s

[2021-12-30 22:23] #34 closed, assigned to zazim13

[2021-12-30 23:27] zazim13 commented on #30
Hi @andreaaraldo , I think maxVideo and videoCollectionMaxDocs have the same meaning.
The variable videoCollectionMaxDocs is the actual value used to create the capped video collection [as shown here](https://github.com/mora-resource-allocation-edge-cloud/deployment/blob/2725fbf566d5a152beb32213d6bee77bc69d32c1/vp-cloud/templates/08-create-collection.job.yaml#L32).
While the variable maxVideo seem

[2021-12-30 23:37] zazim13 commented on #30
Finally for the unity of videoCollectionSize, according to [mongodb documentation](https://docs.mongodb.com/manual/reference/method/db.createCollection/) this unity is bytes (the size parameter of db.createCollection).

[2021-12-31 01:03] zazim13 commented on #31
Hi @andreaaraldo  this solution is not finally needed. When the loadgenerator requests for the list of available videos on the system using `<domain_name_of_edge_node>/videos`, so  by requesting the edge node, there is a redirection to the cloud cluster, that is answering with the right list of videos. (For some reason, the cloud wasn't reachable when I did my tests for the first time).

However w

[2022-01-07 12:58] zazim13 commented on #33
Hi, the problem here is the maximum number of threads allowed by user, that is lower than the value of kernel.threads-max. By default in my VM the limit for a user is 4096 (result of `ulimit -u` ) and kernel.threads-max is 513914.
Now i can permanently increase the max number of threads allowed by user by adding the following line to the file /etc/security/limits.d/20-nproc.conf :`*          soft

[2022-01-07 14:17] andreaaraldo commented on #25
This issue is related to this [other one](https://github.com/mora-resource-allocation-edge-cloud/mora/issues/33)

[2022-01-07 14:19] andreaaraldo commented on #33
Please, add the information to solve the issue ijn the documentation, and then close the issue

[2022-01-07 14:32] andreaaraldo commented on #11
@aleskandro , we are remarking that maybe 128 ports are too few.

If the request rate is 5 videos/sec (with exponentially random distribution) and each video if 20 seconds, then on average we would concurrently use 100 ports (but, due to randomness, it is quite likely that in some extreme cases we would need more than 128 ports in the load generator).
@zazim13  experienced some `websocket url time

[2022-01-07 14:54] andreaaraldo commented on #31
Ok, let's go with the first solution. We added a comment at the beginning of [this wiki page](https://github.com/mora-resource-allocation-edge-cloud/mora/wiki/3.Metrics-collector-and-load-generator) to describe this behavior

[2022-01-07 14:54] #31 closed, assigned to zazim13

[2022-01-07 15:04] andreaaraldo commented on #30
@zazim13  seems to suggest that we could eliminate all the [setCollection](https://github.com/mora-resource-allocation-edge-cloud/videomanagement/blob/a1934318e5c1e125cb7751bad836dd969a8c873b/src/main/java/com/arenalocastro/videomanagement/ApplicationConfiguration.java#L85) as it seems to be an old attempt to create a capped collection in the edge. Currently, we do this operation differently, usin

[2022-02-04 16:17] andreaaraldo opened #35 "Caching policies"
For the moment, the only caching policy we have is Least Recently Used (LRU).

Videos entering the cache are put in a queue. If the queue is full and a new video arrives, the oldest video is evicted.

This is a realistic policy, but it may make our measurements difficult.

Indeed, in order to create our dataset to feed the MORA optimization algorithms, we need to measure bandwidth, CPU, memory at

[2022-02-18 16:17] andreaaraldo opened #36 "Strange bandwidth measurements"
![Screenshot from 2022-02-18 17-12-58](https://user-images.githubusercontent.com/8711898/154719867-686a6108-9f38-4f8f-b41e-099320045f3b.png)

In this screenshot above Hakim is plotting the receive bandwidth of videomanagement (yellow) and load balancer (green), both at the edge.
You see three intervals: the first is with cache_size=10=entire_catalog, the second is cache_size=7 and (ignore the smal

[2022-02-24 16:27] andreaaraldo opened #37 "Redundancy in documentation"
Remove the redundancy between the wiki and the home page

[2022-02-24 16:59] andreaaraldo opened #38 "Explanation of what happens when a miss occurs"
Detailing what are the pods, ingresses, etc. that are used

[2022-02-24 18:32] zazim13 opened #39 "Creation of capped collection"
A Job (`vp-cloud/templates/08-create-collection.job.yaml`) is supposed to create a collection in mongodb pod, by using the function `db.createCollection` as you can see [here](https://github.com/mora-resource-allocation-edge-cloud/deployment/blob/c2323cdcf15b4b0d8d0dc6b1218e9a704bde3418/vp-cloud/templates/08-create-collection.job.yaml#L31). This Job is also used to set the cache size by limiting t

[2022-02-24 19:17] zazim13 opened #40 "Impossible to update Job (immutable)"
A Job (vp-cloud/templates/08-create-collection.job.yaml) is creating a collection in mongodb pod. But as Job are immutable, it cannot be updated with the same name.
One solution is to add date in the Job name as following
 `name:  collection-create{{ now | date "20060102150405" }}`
Thus the name will be different at each update.

[2022-02-24 19:21] #40 closed, assigned to zazim13

[2022-02-24 19:21] #39 closed, assigned to zazim13

[2022-02-24 19:58] zazim13 opened #41 "PVC bound but not ready"
I have been experiencing some issues with volumes that cause pending pods.
Sometimes Persistent Volume Claims(pvc) are not associated with their corresponding Persistent Volume(pv) and are pending with the following warning (from `kubectl describe pvc pvc_name`)
`Warning  ProvisioningFailed  1s (x18 over 4m2s)  persistentvolume-controller  storageclass.storage.k8s.io "default" not found `

The fac

[2022-02-24 20:05] zazim13 commented on #41
One solution could be to add for each pvc in the pvcs configuration file (deployment/vp-cloud/templates/06-pvc.yaml), the name of the corresponding pv that it should claim.
We can do it by adding the key `volumeName`. And we shall obtain such file:
[code]

[2022-02-26 11:48] andreaaraldo commented on #36
@aleskandro ,
We would like to ask you an opinion on the following issue.
We think that the figure above is not correct. Indeed, it is not possible to transmit data directly from the Gateway (in the Cloud cluster) to Videomanagement (in the Edge Cluster), since the two pods are in two different clusters.

Therefore, what occurs is instead that the data represented by the arrow "a" pass through the

[2022-02-27 09:56] aleskandro commented on #36
Hello @andreaaraldo traffic represented by arrow `a` should represent the response from the Cloud service to the Video Management Service in the Edge. i.e., when a cache request is triggered by the VMS:

1. The VMS makes a HTTP request to the Cloud (the Cloud Gateway)
2. The Cloud gateway acts as a reverse proxy to the Cloud VMS
3. The Cloud VMS constructs the response and start to send it  back t

[2022-03-02 13:36] aleskandro commented on #41
Apparently foo-pv4 is bound to mongodb-data.

[code]

Could we create a new persistent-volume, foo-pv5, and also bind the videoserver-videofiles PVC to foo-pv5 ?
Finally note that we'd keep the requested capacity and the bound PV capacity equal

[2022-03-03 14:44] zazim13 commented on #36
Hello. I tried to figure out how micro-services are working in order to explain what is happening in this graph. Here a representation of what I understand for now.(cache variant)
![image](https://user-images.githubusercontent.com/60358257/156578253-4d4848e7-fe5b-447e-844c-50328b410aef.png)

When the user is requesting a video to the the edge(http get edge/vms/videos/id) there are 2 possibilities.

[2022-03-03 14:50] zazim13 commented on #36
The dotted arrow represents the "real" traffic(video chunks frames).
I suspect that the strange bandwidth measurements are due to internal traffic. You can see that when a video is sent to the user, the lb is sending video frames and it is also receiving then.
And it makes sense that when the cache is reduced the lb received bandwidth is also reduced, because there are more and more videos non ava

[2022-03-03 15:49] zazim13 commented on #41
Adding the key volumeName solved the issue for me. But I don't know if it is working with other type of pv provisioning. (I am doing local provisioning)
Should I commit this change anyway ?
I don't know if adding a new pv will solve the issue at deployment as some pv could still be bound to the wrong pvc.

[2022-03-04 14:16] andreaaraldo commented on #36
- Please add the additional traffic cloud-to-users
-

[2022-03-06 22:20] maczg commented on #23
Any updates on this? I recently had some issues uploading different videos. Googling a bit, it seems that there isn't an easy-fix about. At a glance, most of related problems come out with filters chaining or videos potentially corrupted.

Could we consider to lighten ffmpeg processing in order to reduce unexpected stops of the script?

[2022-03-15 10:04] Maya-kassis opened #42 "Error in pending PVCs "storageclass.storage.k8s.io "default" not found" - NO PV created"
Hello,

I am trying to deploy cloud mora on k8s baremetal cluster:
``` helm install vp-cloud -f variants/values.cloud.yaml --generate-name --disable-openapi-validation ```
``` Error: INSTALLATION FAILED: persistentvolumeclaims already exists ```

The problem is in the PV and PVC, I followed the solution here but it didn't help me:
https://github.com/mora-resource-allocation-edge-cloud/mora/issues/

[2022-03-15 10:29] aleskandro commented on #42
Hello @Maya-kassis, as the storage class is set to "default" in the PVCs and the storage class of your provisioner is `example-nfs`, the PVCs keep in the waiting status to gather a provisioned PV with a non available storage class.

Could you try overriding the [default storageClassName](https://github.com/mora-resource-allocation-edge-cloud/deployment/blob/c2323cdcf15b4b0d8d0dc6b1218e9a704bde3418

[2022-03-15 12:57] Maya-kassis commented on #42
I altered the values.yaml and the same error occured.
``` Error: INSTALLATION FAILED: persistentvolumeclaims "videoserver-videofiles" already exists ```
[code]
Here is the values.yaml:

[code]

[2022-03-15 12:58] aleskandro commented on #42
Can you try to remove the PVCs manually and re-run helm?

[2022-03-20 22:27] maczg commented on #25
Hi everyone. I would suggest to bypass chrome headless and dashjs for reproduction and use [godash](https://github.com/uccmisl/godash) instead.  It's a headless player that seems faster, more efficient and accurate then Dashjs for our purpose. Also, could be provide metric at segment level and should be already set to QoE evaluation with differents models. We could adapt it to post metrics generat

[2022-03-21 10:28] Maya-kassis commented on #42
I tried what you recommend, still PVC in pending state:
[code]

would you please provide me with the yaml file of the storageclass you create.